*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  background-color: transparent;
  width: 5px;
}

html {
  line-height: 1.15;
  font-size: 62.5%;
}

body {
  /** * Remove the margin in all browsers. */
  margin: 0;
  font-size: 2rem;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button,
input {
  /* 1 */
  overflow: visible;
}

/** * Remove the inheritance of text transform in Edge, Firefox, and IE. * 1. Remove the inheritance of text transform in Firefox. */
button,
select {
  /* 1 */
  text-transform: none;
}

/** * Correct the inability to style clickable types in iOS and Safari. */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/** * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/** * 1. Correct the text wrapping in Edge and IE. * 2. Correct the color inheritance from `fieldset` elements in IE. * 3. Remove the padding so developers are not caught out when they zero out *    `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/** * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline;
}

/** * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto;
}

/** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/** * Remove the inner padding in Chrome and Safari on macOS. */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive   ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block;
}

/* * Add the correct display in all browsers. */
summary {
  display: list-item;
}

/* Misc   ========================================================================== */
/** * Add the correct display in IE 10+. */
template {
  display: none;
}

/** * Add the correct display in IE 10. */
[hidden] {
  display: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 5px 25px #191919, 1px -5px 15px #191919;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 2.5rem !important;
  }
}
h2 {
  width: 100%;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.25rem;
  line-height: 1.25;
  text-align: center;
}

/* Grouping content   ========================================================================== */
/** * 
 * 1. Add the correct box sizing in Firefox. 
 * * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/** 
 * * 1. Correct the inheritance and scaling of font size in all browsers. 
 * * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics   ========================================================================== */
/** * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent;
}

/** 
 * * 1. Remove the bottom border in Chrome 57- 
 * * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/** * Add the correct font weight in Chrome, Edge, and Safari. */
b,
strong {
  font-weight: bolder;
}

/**
 *  * 1. Correct the inheritance and scaling of font size in all browsers. 
 * * 2. Correct the odd `em` font sizing in all browsers. */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/** * Add the correct font size in all browsers. */
small {
  font-size: 80%;
}

/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* -------------------------------------------------------------------------- */
/*                               mixin: flexbox                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                          background matrix effect                          */
/* -------------------------------------------------------------------------- */
.header {
  background: white;
  width: 100vw;
  border-bottom: 1px solid gray;
  height: 60px;
  padding: 0 1rem 0 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__left--logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__left--logo .logo__image {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0 1rem;
}
.header__left--logo .logo__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__middle--searchbox {
  background-color: lightgray;
  border-radius: 5px;
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
}
.header__middle--searchbox input {
  width: 400px;
  padding: 0.8rem;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  outline: unset;
  border: unset;
  background: transparent;
}
.header__middle--searchbox input .icon-left {
  margin-right: 1rem;
}
.header__middle--searchbox input .icon-right {
  margin-left: 1rem;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
}

.post {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.feed {
  flex: 1;
  height: 100%;
}

.email {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email__tools {
  width: 100%;
  padding: 1rem;
  border-bottom: 3px solid whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.email__body {
  width: 100%;
  flex: 1;
  margin: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.email__body--header {
  padding: 1rem;
  border-bottom: 3px solid whitesmoke;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.emailRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  padding: 1rem 1rem 1rem 0;
  gap: 20px;
  border: 1px solid whitesmoke;
}
.emailRow__content {
  flex: 1;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.emailRow__content--title {
  width: 200px;
}
.emailRow__content--message {
  flex: 1;
}

.emailList {
  height: 100%;
  overflow: scroll;
}
.emailList__settings {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.emailList__sections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.emailList__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.section {
  padding: 1.5rem;
  font-size: 2rem;
  gap: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section:hover {
  background-color: whitesmoke;
}

.section--selected {
  background-color: whitesmoke;
}

.SideLeft {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: space-between;
}
.SideLeft-center {
  padding: 1rem 0.5rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: flex-start;
}
.SideLeft-center Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 30px !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  outline: unset;
  border: unset;
  font-weight: 600;
  color: gray;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
  margin-bottom: 1rem;
}
.SideLeft-center .option-list {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: flex-start;
  height: 230px;
  overflow-y: auto;
}
.SideLeft-center .option-list .option-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.5rem 0.2rem 1.5rem;
  cursor: pointer;
}
.SideLeft-center .option-list .option-item h4 {
  font-weight: 500;
}
.SideLeft-center .option-list .option-item .number {
  font-weight: 500;
}
.SideLeft-center .option-list .option-item:hover {
  background: lightgray;
  border-radius: 0 15px 15px 0;
}
.SideLeft-bottom {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  flex: 1;
}
.SideLeft-bottom .meet {
  padding: 1rem 0.5rem 1rem 0;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: space-around;
}
.SideLeft-bottom .meet h3 {
  padding: 0.2rem 0.5rem 0.2rem 1.5rem;
}
.SideLeft-bottom .meet-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem 0.5rem 0.2rem 1.5rem;
  cursor: pointer;
}
.SideLeft-bottom .meet-item h4 {
  font-weight: 500;
}
.SideLeft-bottom .meet-item:hover {
  background: lightgray;
  border-radius: 0 15px 15px 0;
}
.SideLeft-bottom .hangout {
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: space-around;
  padding: 1rem 0.5rem 1rem 1.5rem;
}
.SideLeft-bottom .hangout h3 {
  padding: 0.2rem 0.5rem 0.2rem 0;
}
.SideLeft-bottom .hangout button {
  background-color: rgb(1, 1, 56);
  width: 100%;
  color: #fff;
  padding: 0.4rem 0;
  outline: unset;
  border: unset;
  font-weight: 600;
  border-radius: 15px;
}
.SideLeft-bottom .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
}

.active {
  background: lightgray !important;
  border-radius: 0 15px 15px 0 !important;
}

.SidebarOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  height: 40px;
  padding: 0 10px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  color: #818181;
}
.SidebarOption h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
}
.SidebarOption p {
  display: none;
  font-weight: 400;
}
.SidebarOption:hover {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800 !important;
}
.SidebarOption:hover p {
  display: inline;
}

.SidebarOption--active {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800 !important;
}
.SidebarOption--active p {
  display: inline !important;
  font-weight: 600 !important;
}

.react-icons {
  background-color: transparent;
}

.SideRight {
  height: 100%;
  padding: 1.5rem 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.SideRight-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}/*# sourceMappingURL=index.css.map */